{% set currentRoute = app.request.get('_route') %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ path('index') }}" class="brand-logo left">
                :: zPASSk ::
            </a>
            <ul id="nav-mobile" class="right">
                {% set pathNames = ['index'] %}
                <li class="{{ currentRoute in pathNames ? 'active' : '' }}">
                    <a href="{{ path('index') }}" title="Home">
                        <i class="material-icons">home</i>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    {% set pathNames = ['user_create', 'user_list', 'user_update'] %}
                    <li class="{{ currentRoute in pathNames ? 'active' : '' }}">
                        <a href="{{ path('user_list') }}" title="Users">
                            <i class="material-icons">people</i>
                        </a>
                    </li>
                {% endif %}
                {% set pathNames = ['profile'] %}
                <li class="{{ currentRoute in pathNames ? 'active' : '' }}">
                    <a href="{{ path('profile') }}" title="Profile">
                        <i class="material-icons">person</i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('logout') }}" title="Logout">
                        <i class="material-icons">power_settings_new</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>