{% extends 'base.html.twig' %}

{% block body %}
    <main class="container login-wrapper">
        <div class="login__box z-depth-2">
            <div class="right-align">
                <a href="{{ path('register') }}">
                    Create an account
                </a>
            </div>
            {% if error %}
                <div class="login__errors">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form id="login_form" class="login__form" action="{{ path('login') }}" method="post">

                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input class="validate"
                           type="text"
                           id="username"
                           name="_username"
                           autocomplete="off"
                           value="{{ last_username }}"
                           required
                    />
                    <label for="username">Username</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input class="validate" type="password" id="password" name="_password" required />
                    <label for="password">Password</label>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button class="waves-effect waves-light btn" type="submit">login</button>
            </form>
            <div class="login__box__footer center-align">
                <p><small>
                        <a href="{{ path('recovery_password') }}">
                            Forgot your username/password?
                        </a>
                    </small></p>
            </div>
        </div>
    </main>
{% endblock %}