{% extends 'layout.html.twig' %}
{% block title %}SocialIM :: Add group{% endblock %}

{% block main %}
    <header class="header">
        <h2 title="header__title">Add group</h2>
    </header>
    {% include '_partials/_breadcrumb.html.twig' with {items: {
        '#': 'Add group'
    }} %}

    <div class="card">
        <div class="card-content">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.name) }}

            <div class="input-field">
                <div class="image-input">
                    <i class="material-icons large">add_photo_alternate</i>
                    {{ form_widget(form.image) }}
                    <div class="img-preview">
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}

            <button class="waves-effect waves-light btn" type="submit">Add</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}