{% extends 'layout.html.twig' %}
{% block title %}Zero PASSword Knowledge :: Add password{% endblock %}

{% block main %}
    <header class="header">
        <h4>Share: {{ password.name }}</h4>
    </header>
    {% include '_partials/_breadcrumb.html.twig' with {items: {
        '#': 'Share password'
    }} %}
    <div class="card">
        <div class="card-content">
            <div class="share-users__wrapper">
                <div>
                    <h5>Not shared yet</h5>
                <ul class="share-users__list">
                {% for user in users %}
                    <li class="share-users__list__item">
                        {{- user -}}
                        <button
                                class="btn btn-small js-share-password-btn"
                                type="button"
                                data-u="{{ user.id }}"
                                data-pk="{{ user.keyPair.publicKey }}"
                                data-k="{{ passwordKey.key }}"
                        >
                            share
                        </button>
                    </li>
                {% endfor %}
                </ul>
                </div>
                {% if shared %}
                <div>
                    <h5>Already shared</h5>
                    <ul class="share-users__list">
                        {% for passwordKey in shared %}
                            <li class="share-users__list__item">
                                {{- passwordKey.user -}}
                                <a
                                        class="btn btn-small"
                                        href="{{ path('password_unshare', {passwordId: passwordKey.password.id, userId: passwordKey.user.id}) }}"
                                >
                                    unshare
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}