{% extends 'layout.html.twig' %}
{% block title %}Zero PASSword Knowledge :: Add password{% endblock %}

{% block main %}
    <header class="header">
        <h3 title="header__title">Add password</h3>
    </header>
    {% include '_partials/_breadcrumb.html.twig' with {items: {
        '#': 'Add password'
    }} %}
    <div class="card">
        <div class="card-content">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <button class="waves-effect waves-light btn" type="submit">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}