{% extends 'layout.html.twig' %}

{% block main %}

    {% if ownPasswords %}
        <header class="header">
            <h4>Your passwords</h4>
            <a href="{{ path('password_create') }}" class="waves-effect waves-light btn">
                <i class="material-icons right">vpn_key</i> Add password
            </a>
        </header>
        <ul class="passwords-list">
            {% for passwordKey in ownPasswords %}
                <li class="passwords-list__item">
                    <button
                            type="button"
                            class="js-view-password-btn passwords-list__item__btn"
                            data-name="{{ passwordKey.password.name }}"
                            data-url="{{ passwordKey.password.url }}"
                            data-k="{{ passwordKey.key }}"
                            data-u="{{ passwordKey.password.username }}"
                            data-p="{{ passwordKey.password.password }}"
                    >
                        {{ passwordKey }}
                    </button>
                    <div class="passwords-list__item__options">
                        <a
                                class="passwords-list__item__option"
                                href="{{ path('password_share', {id: passwordKey.password.id}) }}"
                                title="Share password"
                        >
                            <i class="material-icons">share</i>
                        </a>
                        <a
                                class="passwords-list__item__option js-delete-password-btn"
                                href="#"
                                title="Delete password"
                        >
                            <i class="material-icons"
                               data-n="{{ passwordKey.password.name }}"
                               data-id="{{ passwordKey.password.id }}">delete</i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <div class="center-align">
            <h5>
                You don't have passwords yet. What are you waiting for?
            </h5>
            <p>
                <a href="{{ path('password_create') }}" class="waves-effect waves-light btn">
                    <i class="material-icons right">vpn_key</i> Add password
                </a>
            </p>
        </div>

    {% endif %}

    {% if sharedPasswords %}
        <header class="header">
            <h4 class="header__title">Passwords shared with you</h4>
        </header>
        <ul class="passwords-list">
            {% for passwordKey in sharedPasswords %}
                <li class="passwords-list__item">
                    <button
                            type="button"
                            class="js-view-password-btn passwords-list__item__btn"
                            data-name="{{ passwordKey.password.name }}"
                            data-url="{{ passwordKey.password.url }}"
                            data-k="{{ passwordKey.key }}"
                            data-u="{{ passwordKey.password.username }}"
                            data-p="{{ passwordKey.password.password }}"
                            data-opk="{{ passwordKey.password.owner.keyPair.publicKey }}"
                    >
                        {{ passwordKey }} (owner: {{ passwordKey.password.owner }})
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}