{% extends 'layout.html.twig' %}

{% block main %}

    {% if ownPasswords %}
        <header class="header">
            <h4 class="header__title">own passwords</h4>
            <a href="{{ path('password_create') }}" class="waves-effect waves-light btn">
                <i class="material-icons right">vpn_key</i> Add password
            </a>
        </header>
        <ul class="passwords-list">
            {% for passwordKey in ownPasswords %}
                <li class="passwords-list__item">
                    <a href="{{ path('password_share', {id: passwordKey.password.id}) }}">SHARE</a>
                    <button
                            type="button"
                            class="js-view-password-btn btn btn-small deep-orange darken-1"
                            data-name="{{ passwordKey.password.name }}"
                            data-url="{{ passwordKey.password.url }}"
                            data-k="{{ passwordKey.key }}"
                            data-u="{{ passwordKey.password.username }}"
                            data-p="{{ passwordKey.password.password }}"
                    >
                        {{ passwordKey }}
                    </button>
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <div class="center-align">
            <h5>
                You don't have passwords yet. What are you waiting for?
            </h5>
            <p>
                <a href="{{ path('password_create') }}" class="waves-effect waves-light btn">
                    <i class="material-icons right">vpn_key</i> Add password
                </a>
            </p>
        </div>

    {% endif %}

    {% if sharedPasswords %}
        <h4>shared passwords</h4>
        <ul>
            {% for passwordKey in sharedPasswords %}
                <li
                        data-k="{{ passwordKey.key }}"
                        data-u="{{ passwordKey.password.username }}"
                        data-p="{{ passwordKey.password.password }}"
                >
                    {{ passwordKey }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}