{% extends 'layout.html.twig' %}
{% block title %}Zero PASSword Knowledge :: Users{% endblock %}

{% block main %}
    <header class="header">
        <h4>{{ user }}</h4>
    </header>
    {% include '_partials/_breadcrumb.html.twig' with {items: {
        'user_list': 'Users',
        '#': 'Edit user: ' ~ user
    }} %}
    <div class="card">
        <div class="card-content">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.email) }}
            <div class="switch">
                <label>
                    Disabled
                    {{ form_widget(form.enabled) }}
                    <span class="lever"></span>
                    Enabled
                </label>
            </div>
            <br />
            <div class="switch">
                <label>
                    User
                    {{ form_widget(form.isAdmin) }}
                    <span class="lever"></span>
                    Admin
                </label>
            </div>
            <br />
        {{ form_rest(form) }}

        <button class="waves-effect waves-light btn" type="submit">Save</button>

        {{ form_end(form) }}
        </div>
    </div>

{% endblock %}