{% extends 'layout.html.twig' %}
{% block title %}SocialIM :: Users{% endblock %}

{% block main %}
    <header class="header">
        <h2>Users</h2>
        <a href="{{ path('user_create') }}" class="waves-effect waves-light btn">
            <i class="material-icons right">person</i> Add user
        </a>
    </header>

    {% include '_partials/_breadcrumb.html.twig' with {items: {
        '#': 'Users'
    }} %}

    <div class="card scroll-x">
    <table class="highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr class="cursor"
                onclick="window.location = '{{ path('user_update', {'id': user.id}) }}'"
            >
                <td>{{ user }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>{{ (user.enabled) ? 'Enabled' : 'Disabled' }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

{% endblock %}